@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* font-family: "Mukta", sans-serif; */

}

.hero {
  background-image: url('./assets/bghero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.heroAdmission {
  background-image: url('./assets/heroadmission.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

@keyframes type-writer {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-type-writer {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  width: 0;
  animation: type-writer 3s steps(40) forwards;
}
